body{
    background-color: rgb(248, 249, 250);
    font-family: sans-serif, Arial, Helvetica;
}
.port {
    padding-bottom: 25px;
}

.logo {
    width: 50px;
    height: auto;
    padding: 5px;
}


.cap{
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
}

.capt{
    font-weight: bold;
    font-variant: small-caps;
    
}

.intext{
    text-align: center;    
}

.imgin{
    margin: 8px;
}

.contact{
    font-weight: bold;
}

#MainImages img {

    cursor: pointer;
}

#Fullscreen {

    height: 100%;

    display: none;

    position:fixed;

    top:0;

    right:0;

    bottom:0;

    left:0;

    /* I made a 50% opacity black tile background for this 
     div so it would seem more... modal-y*/



}
#Fullscreen img{
height: 100%;
display: block;
margin: 0 auto;
}