body{
    background-color: rgb(248, 249, 250);
    font-family: Arial, Helvetica, sans-serif;
}
.port {
    padding-bottom: 25px;
}

.logo {
    width: 50px;
    height: auto;
    padding: 5px;
}


.cap{
    text-align: center;
    padding: 10px;
    font-variant: small-caps; 
}

.capt{
    font-weight: bold;
    font-variant: small-caps;
    
}

.intext{
    text-align: center;    
}

.imgin{
    margin: 8px;
}

.contact{
    font-weight: bold;
}